<p id = "notice"></p>

<center>
<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員ではない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>

      <div class = "col">

        <h2>新着商品</h2>

        <table class = "table table-hover table-inverse">
          <thead>
            <tr>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>

          <% @items.each do |item| %>

            <tr>
              <td>
                  <%= image_tag item.image, width:150,height:150 %>
              </td>

              <td><%= link_to item.name,public_item_path(item.id) %></td>

              <td><%= item.price %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

</center>¥