
<div class = "container px-5 px-sm-0">
  <div class = "row justify-content-md-center">



    <h4>商品一覧</h4>


      <div class = "col">

        <table class = "table table-hover table-inverse">
          <thead>
            <tr>
              <th colspan="1"></th>
              <th>商品名</th>
              <th>価格</th>
            </tr>
          </thead>

          <tbody>

            <% @items.each do |item| %>

            <tr>
              <td><%= image_tag item.image, width:150,height:150 %></td>

              <td><%= item.name %></td>

              <td><%= item.price %></td>


            </tr>

            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
